.page-chat {
  color: $color-dark-blue;

  .row {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    .col {
      justify-content: space-between;
      
      &.left-col {
        width: 30%;
        background-color: $color-light-gray;
        padding: 20px 10px 0;
        overflow-y: scroll;
        
        .button-link {
          font-weight: 500;
          font-size: 0.75rem;
          color: $color-dark-gray; 
          text-decoration: none;
          margin: 0 0 0 auto;
        }

        .page-chat__search {
          &.input {
            height: 32px;
            text-align: center;
            margin: 24px 0 14px;
            width: 100%;
            border-radius: 30px;
            background-color: $color-middle-gray;
            border: none;
          }
        
          &:focus::placeholder {
            color: transparent;
            transition: all $transition-time;
          }
      
          &::placeholder {
            font-size: 1rem;
            font-family: $font-primary;
            color: $color-gray;
            text-align: center;
          }
        }

        .form-row + .card-user {
          border-top: 1px solid $color-middle-gray;
        }
      }
      &.right-col {
        width: 75%;
        align-items: center;
        justify-content: center;

        .page-chat__start-message {
          font-weight: 500;
          font-size: 0.75rem;
          color: $color-dark-gray;        
        }
      }
    }
  }
}
