{{# Card cardClassName='card-modal'}}
  {{# Title level='2'}}
    Вход
  {{/Title}}
  {{# Form }}
    <div class="card-modal__inputs">
      {{#each loginInputs}}
        {{{ Input 
          className='input-modal' 
          className=this.className 
          id=this.id 
          label=this.label 
          name=this.name 
          htmlType=this.htmlType 
        }}}
      {{/each}}
    </div>
    {{# Button type='primary' page='chatPage'}}
      Войти
    {{/Button}}
  {{/Form}}
  {{# Button type='link' page='signupPage'}}
    Создать аккаунт
  {{/Button}}
{{/Card}}
