{{# Row rowClassName='profile-item__row'}}
  {{# Col colClassName='profile-item__left-col' }}
    {{# Title level='4'}}
      {{ profileInfoTitle }}
    {{/Title}}
  {{/Col}}
    {{# Col colClassName='profile-item__right-col' }}
      <span>{{ profileInfoText }}</span>
    {{/Col}}
{{/Row}}
