.chat-card {
  padding: 12px 0;
  border-bottom: 1px solid $color-middle-gray;
  
  &:hover {
    cursor: pointer;
  }

  .row {
    .col {
      &:first-child {
        justify-content: center;
      }

      &:last-child {
        margin: 0 0 0 auto;
      }
    }
  }

  .title {
    margin: 0 0 4px;
  }

  .avatar-chat-card {
    margin: 0 16px 0 0;
  }

  .chat-card__message {
    font-weight: 500;
    font-size: 0.75rem;
    color: $color-dark-gray;
  }

  .chat-card__date-time {
    font-size: 0.5rem;
    font-weight: 500;
    color: $color-dark-gray
  }
}
