{{# Card cardClassName='card-user' key=chatId onClick=handleSelectChat}}
  {{# Row}}
    {{# Col}}
        {{# Title level='4' }}
          {{ chatTitle }}
        {{/Title}}
        <div class="card-user__message">
          <span>{{ chatText }} </span>
        </div>
    {{/Col}}
    {{# Col}}
        <div class="card-user__date-time">{{ time }}</div>
        {{{ Badge badgeText=unreadCount }}}
    {{/Col}}
  {{/Row}}
{{/Card}}
