.modal {
  @include center-content;
  padding: 2rem;
  flex-direction: column;
  border: 1px double #e5e5e5;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  background-color: $color-light-gray;
  cursor: auto;
}
