<div class='chats'>
  <div class='chats__controls'>
    <div class='controls__nav'>
      {{# Button type='link' page="profilePage" onClick=this.handleLogout}}
        Выход
      {{/Button}}
      {{# Button type='link' page="profilePage" onClick=this.goProfilePage}}
        Профиль
      {{/Button}}
    </div>
    {{# Form formId='searchForm' formClassName='page-chat__form-controls' onSubmit=this.handleAddChat}}
      {{{ Input 
        label='Поиск чата' 
        className='page-chat__input' 
        name='chat_search' 
        id='chatSearchInput' 
      }}}
      {{# Button type='secondary' buttonTitle='Создать чат' onClick=this.handleAddChat }}
        <svg viewBox="64 64 896 896" focusable="false" data-icon="plus" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8z"></path><path d="M192 474h672q8 0 8 8v60q0 8-8 8H160q-8 0-8-8v-60q0-8 8-8z"></path></svg>
      {{/Button}}
    {{/Form}}
  </div>
  <div class='chats__list'>
    {{#each chats}}
      {{{ ChatCard 
        chatId=this.id
        chatTitle=this.title 
        chatText=this.content
        chatAvatarPath=this.avatarPath
        unreadCount=this.unreadCount
        onSelectChat=this.handleSelectChat
      }}}
    {{/each}}
  </div>
  {{#if isChatAddModalOpen}}
    {{{ ChatAddModal }}}
  {{/if}}
</div>
