.backdrop {
  @include center-content;

  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  transition: $transition-time;
  color: $color-dark-blue;
  background-color: rgba(0 0 0 / 55%);
  font-family: $font-primary;

  &.hidden {
    display: none;
  }
}
