{{# Card cardClassName='card-profile-edit'}}
  {{{ Avatar userInitials='ИИ' avatarType='card-profile' }}}
  {{# Title level='3'}}
    Иван
  {{/Title}}
  {{# Form formId='profileEditPasswordForm'}}
    {{#each profileEditPassword}}
      {{{ ProfileEditItem 
        label=this.label 
        htmlType=this.htmlType 
        name=this.name
        id=this.id
      }}}
    {{/each}}
    <div class="card-profile__controls">
      {{# Button type='primary' page='profilePage' onClick=this.submitHandler }}
        Сохранить
      {{/Button}}
    </div>  
  {{/Form}}
{{/Card}}
