{{# Card cardClassName='card-profile-edit-password'}}
 {{{ Avatar avatarType='card-profile' path=this.avatarPath }}}
  {{# Title level='3'}}
    {{ this.currentUserName }}
  {{/Title}}
  {{# Form formId='profileEditPasswordForm'}}
    {{#each profileEditPassword}}
      {{{ ProfileEditItem 
        label=this.label 
        htmlType=this.htmlType 
        name=this.name
        id=this.id
      }}}
    {{/each}}
    <div class="card-profile__controls">
      {{# Button type='primary' onClick=this.handleSubmitPassword }}
        Сохранить
      {{/Button}}
    </div>  
  {{/Form}}
{{/Card}}
