{{# Card cardClassName='card-profile-edit'}}
  {{{ Avatar 
    avatarAltText='Загрузить аватар' 
    avatarType='card-profile' 
    onClick=this.handleSelectAvatar
    path=this.avatarPath
  }}}
  {{# Title level='3'}}
    {{ this.currentUserName }}
  {{/Title}}
  {{# Form formId='profileEditForm'}}
    {{#each profileEditItems}}
      {{{ ProfileEditItem 
        label=this.label 
        htmlType=this.htmlType 
        name=this.name 
        id=this.id
        value=this.value
      }}}
    {{/each}}
    <div class="card-profile__controls">
      {{# Button type='primary' onClick=this.handleSubmitProfile }}
        Сохранить
      {{/Button}}
    </div>
  {{/Form}}
  {{#if isAvatarAddModalOpen}}
    {{{ AvatarAddModal }}}
  {{/if}}
{{/Card}}
