{{#> Card cardClassName='card-profile-edit'}}
  <label for="profileEditAvatar">
    {{> Avatar userInitials='ИИ' avatarType='card-profile' }}
  </label>
  <input type="file" id="profileEditAvatar" name="avatar" class="input-avatar">
  {{#> Title level='3'}}
    Иван
  {{/Title}}
  {{#each (profileEditItems)}}
    {{> ProfileEditItem }}
  {{/each}}
  <div class="card-profile__controls">
    {{#> Button type='primary'}}
      Сохранить
    {{/Button}}
  </div>
{{/Card}}