{{# Card cardClassName='card-profile-edit'}}
  {{{ Avatar avatarAltText='Загрузить аватар' avatarType='card-profile' onClick=this.handleSelectAvatar }}}
  {{# Title level='3'}}
    {{ this.currentUserName }}
  {{/Title}}
  {{# Form formId='profileEditForm'}}
    {{#each profileEditItems}}
      {{{ ProfileEditItem 
        label=this.label 
        htmlType=this.htmlType 
        name=this.name 
        id=this.id
      }}}
    {{/each}}
    <div class="card-profile__controls">
      {{# Button type='primary' onClick=this.handleSubmitProfile }}
        Сохранить
      {{/Button}}
    </div>
  {{/Form}}
  {{#if this.isAvatarAddModalOpen}}
    {{{ AvatarAddModal }}}
  {{/if}}
{{/Card}}
