{{# Card cardClassName='card-modal'}}
  {{# Title level='2'}}
    Регистрация
  {{/Title}}
  {{# Form formId='signupForm' }}
    <div class="card-modal__inputs">
      {{#each signupInputs}}
        {{{ Input 
          className='input-modal' 
          htmlType=this.htmlType 
          type=this.type 
          label=this.label 
          id=this.id 
          name=this.name 
          onFocusOut=this.focusOutHandler
        }}}
      {{/each}}
    </div>
    {{# Button type='primary' page='chatPage' onClick=this.handleSubmit }}
      Зарегистрироваться
    {{/Button}}
  {{/Form}}
    {{# Button type='link' onClick=this.goLogin}}
      Войти
    {{/Button}}
{{/Card}}
