.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: $color-middle-gray;
  font-weight: 300;
  overflow: hidden;

  .avatar-text {
    padding: 8px;
    text-align: center;
  }

  &.avatar-chat-card {
    width: 56px;
    height: 56px;
  }
  
  &.avatar-card-profile {
    font-size: 3rem;
    width: 130px;
    height: 130px;
  }
}
