.message {
  font-weight: 500;
  font-size: 0.75rem;
  padding: 12px;
  width: 90%;

  &.message_in {
    background-color: $color-light-gray;
    border-radius: 0 15px 15px;
    margin: 0 auto 20px 0;
  }

  &.message_out {
    background-color: rgb(49 218 230 / 15%);
    border-radius: 15px 15px 0;
    margin: 0 0 20px auto;
  }
}
